{
  "$schema": "https://json.schemastore.org/eslintrc",
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks", "simple-import-sort", "unused-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["node_modules", "build", "dist", "public"],
  "rules": {
    "no-console": "error", 
    "semi": ["error", "always"],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-var-requires": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error",
    "prettier/prettier": [
        "error",
        {
          "tabWidth": 2,
          "bracketSpacing": true,
          "eslintIntegration": true,
          "printWidth": 120
        }
      ]
  }
}
