.splash_image {
  width: 80%;
}

.main {
  overflow-x: hidden;
  overflow-y: auto;

  @mixin light {
    background-color: var(--mantine-color-gray-0);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}